<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar JSON - Grupo Fersan</title>
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'images/FERSAN_LOGO_PAGINA.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles_editar.css' %}">
</head>
<body id="editar">

  {% include 'components/encabezado_editar.html' %}

  <main class="ml-64 p-8">    

    <div class="navigation">
        <a href="{% url 'inicio_usuario' %}" class="back-button">>Regresar</a>
    </div>
    
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if nota.carrusel_info %}
        {% for agencia in nota.carrusel_info %}
            <div class="card-section">
                <h4 class="card-title">{{ agencia.categoria }}</h4>

                <!-- Campo para cargar la imagen -->
                <label for="image_{{ forloop.counter0 }}" class="form-label">Imagen:</label>
                <input type="file" id="image_{{ forloop.counter0 }}" name="image_{{ forloop.counter0 }}" accept="image/*" class="form-input">
                
                <!-- Campo para editar el texto -->
                <label for="tex_{{ forloop.counter0 }}" class="form-label">Descripción:</label>
                <textarea id="tex_{{ forloop.counter0 }}" name="tex_{{ forloop.counter0 }}" class="form-textarea">{{ agencia.text }}</textarea>
            </div>
        {% endfor %}
    {% else %}
        <p>No hay información de agencias disponible.</p>
    {% endif %}

    <!-- Botón para guardar -->
    <button type="submit" class="form-button">Guardar</button>
</form>

    

      <!-- Mensajes -->
      {% if messages %}
      <div class="messages">
          {% for message in messages %}
              <div class="message {{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
      {% endif %}
  </main>

</body>
</html>
